*{
    box-sizing: border-box;
}
header{
    background-color: #120323;
    color: #97bf04 ;
    text-align: center;
}
aside{
    background-color: #97bf04;
}
main img{
    border: 4px solid #d9043d;
}

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
}


@media screen and (max-width: 768px) {
div#container{
    grid-template-areas:
    "main"
    "aside";
    grid-template-columns: 1fr;
 }
 main img{
float: none; }
}