*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
}
header{
    background-color: #120323;
    color:  #97bf04;
}
h2{
    color:#120323
}
main figure img{
    border: solid 5px #d9043d;
}
aside{
    background-color: #97bf04;
}
footer{
    background-color: #d9043d;
    color: white;
}

@media screen and (max-width:768) {

}